.news-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #86BBD8;
    border: 2px solid #33658A;
    margin: 1%;
    width: 48%;
    height: 70%;

    img {
      height: 55%;
      width: 90%;
      margin-top: 5%;
    }

    a {
      height: 8%;
      width: 100%;
      background-color: #F26419;
      font-size: 1.1em;
      font-weight: normal;
      text-decoration: none;
      padding-top: 1%;
      transition: all 0.4s ease 0s;

      &:hover {
        font-weight: bold;
        transition: all 0.4s ease 0s;
      }
    }
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    width: 90%;
}