.news-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #86BBD8;
    border: 2px solid #33658A;
    margin: 1%;
    width: 30%;
    height: 30%;

    img {
      height: 55%;
      width: 90%;
      margin-top: 5%;
    }

    button {
      height: 8%;
      width: 100%;
      background-color: #F26419;

      a {
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
      }
    }
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    width: 90%;
}